<p>
  <a href="{% url 'blogs:index' %}">ブログサービス</a> -
  <a href="{% url 'blogs:blogs' %}">ブログの一覧</a>
  {% if user.is_authenticated %}
    こんにちは {{ user.username }}さん
  {% else %}
    <a href="{% url 'accounts:register' %}">ユーザー登録</a> -
    <a href="{% url 'accounts:login' %}">ログイン</a>
  {% endif %}
</p>

{% block content %}{% endblock content %}

{% if user.is_authenticated %}
<hr />
  <form action="{% url 'accounts:logout' %}" method='post'>
    {% csrf_token %}
    <button name='submit'>ログアウト</button>
  </form>
{% endif %}